.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 64px);
}

.login-left {
  background: var(--color-light-blue);
}

.login-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
