* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.text-12-grey {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #94969e;
}

.text-14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1f1f21;
}

.text-18 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1f1f21;
}

.text-24 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #1f1f21;
}

.mr12{
  margin-right: 12px;
}

.mr10 {
  margin-right: 10px;
}

:root {
  --color-light-grey: #F6F8FA;
  --color-white: #FFFFFF;
  --color-blue: #2d81f7;
}